.button {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: #00a078;
  height: 60px;
  width: auto;
  padding: 0 20px;
  line-height: 60px;
  box-shadow: 5px 5px 0px black;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 20px #00a078;
  transform: scale(1.1);
}
