#hero {
  box-sizing: border-box;
  background-size: 100%;
  height: 80vh;
  background: url("../img/BackgroundHero.png") no-repeat center center;
  background-size: cover;
  image-rendering: pixelated;
  border-bottom: solid 10px black;
  padding-left: 440px;
}

.Personagem1 {
  display: flex;
  position: absolute;
  right: 80px;
  top: 170px;
  image-rendering: pixelated;
}

#hero .myhero {
  display: flex;
  flex-direction: column;
  width: 640px;
}

#hero .box {
  margin-bottom: 40px;
  margin-top: 190px;
}

#hero .caixa2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
